{{#if messages.alert}}
    <p class="alert alert-danger">{{messages.alert}}</p>
{{/if}}

<form class="col-md-8" action="/add-payment" method="post">
    <div class="form-group">
        <label for="">Payment date</label>
        <input class="form-control" type="date" name="payment_date" required>
    </div>
    <div class="form-group">
        <label for="">Amount</label>
        <input class="form-control" type="number" name="amount" placeholder="e.g 100" required>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea class="form-control" name="comments" rows="8" cols="80"></textarea>
    </div>
    <input class="btn btn-success" type="submit" name="name" value="Create">
    <button class="btn btn-default pull-right" onclick="goBack()">Cancel</button>
</form>
